<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="dom-repeat">
  <template>
    <!-- <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2> -->
    <div>Employee List</div>
    <dom-repeat items="{{employees}}"></dom-repeat>
    <template>
      <div>First Name: <span>{{item.first}}</span></div>
      <div>Last Name: <span>{{item.last}}</span></div>
    </template>
  </template>

  <script>
    /**
     * `dom-repeat`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EMpl extends Polymer.Element {
      static get is() { return 'dom-repeat'; }
      static get properties() {
        return {
          employees:{
            value(){
              return[
                {first: "Bob", last: "Smith"},
                {first: "Sally", last: "Johnson"},
                {first: "Jenette", last: "McCurdy"},
                {first: "Bob", last: "Marley"},
                {first: "Freddie", last: "Mercury"},
              ];
            }
          }
        };
      }
    }

    window.customElements.define(DomRepeat.is, DomRepeat);
  </script>
</dom-module>
