<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="mi-propiedades">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <span>Otra propiedad: "[[currentValue]]"</span>
    <br>
    <span>Tengo hambre: "[[tengoHambre]]"</span>
    <br>
    <button on-click="cambiarValor"> Haz click para cambiar el valor (Se reflejara en el atributo)</button>

    <h3>Data Bindings</h3>
    <a href="[[url]]">[[url]]</a>
    <paper-input label="Escribe la URL: " value="{{url}}"></paper-input>
    <br>
    <h3>Observers</h3>
    <p>[[valoracion]]</p>
    <hr>
    <fieldset>
      <label>Primer numero: [[param1]]</label><br>
      <label>Segundo numero: [[param2]]</label>
      <p><strong>La suma es: </strong>[[totalCalculo]]</p>
    </fieldset>
  </template>

  <script>
    /**
     * `mi-propiedades`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiPropiedades extends Polymer.Element {
      static get is() { return 'mi-propiedades'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-propiedades'
          },
          param1: Number,
          param2: Number,
          fechaTransaccion: {
            type: Date,
            value: new Date(),
            readOnly: false,
            reflectToAttribute: true,
          },
          currentValue: {
            type: String,
          },
          tengoHambre:{
            type: String,
          },
          url:{
            type: String,
          },
          valoracion:{
            type: String,
            notify: true,
            observer: '_valoracionObserver'
          },
          totalCalculo:{
            type: Number,
            value: 0,
            readOnly : true,
            notify: true,
            computed: 'sumaTotalesTransaccion(param1,param2)'
          }
        };
      }

      sumaTotalesTransaccion(param1,param2){
        return param1 + param2
      }

      cambiarValor() {
        this.fechaTransaccion = Date.now();
        this.valoracion = Date.now();
      } 

      _valoracionObserver(newValue,oldValue){
        if (newValue === undefined) {
          console.log("if es igual a true");
          console.log(`El nuevo valor es ${oldValue}`);
        }else
          console.log("oldValue: ", oldValue);
      }


    }

    window.customElements.define(MiPropiedades.is, MiPropiedades);
  </script>
</dom-module>
