<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-toolbar">
  <template>
    <style>
      :host {
        padding: 4px;
        background-color: gray;
      }
      .title{
        /* Se esta creando una variable para definir estilos dentro de un componente de polymer */
        color: var(--my-toolbar-title-color, rgb(118, 233, 118));
      }
    </style>
  <span class="title">{{title}}</span>
  </template>

  <script>
    /**
     * `my-toolbar`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyToolbar extends Polymer.Element {
      static get is() { return 'my-toolbar'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Titulo por default'
          }
        };
      }
    }

    window.customElements.define(MyToolbar.is, MyToolbar);
  </script>
</dom-module>
