<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repeat-ex">
  
  <template>
    <template is="dom-repeat" items="[[items]]" as="elemento" filter="FuncionParaFiltrar" sort="mySort">
      <div>[[elemento.name]]</div>
      <div>[[elemento.age]]</div>
     
      <template is="dom-if" if="{{compadre(elemento.name)}}">
        <p>Compadre [[elemento.name]]</p>
      </template>
      <hr>
    </template>
    
    
  </template>

  <script>
    /**
     * `repeat-ex`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepeatEx extends Polymer.Element {
      static get is() { return 'repeat-ex'; }
      static get properties() {
        return {
          items: {
            type: Array,
            value:[
              {name: "Emil", age:28},
              {name: "John", age:25},
              {name: "Peter", age:26},
              {name: "Erick", age:27},
              {name: "Andrea", age:27},
              {name: "Basel", age:29},
              {name: "Carol", age:20},
            ]
          }
        };
      }
      compadre(compa){
        return compa == "Basel";
      }

      FuncionParaFiltrar(e){
        return e.age >= 20
      }

      mySort(a,b){
        var nameA = a.name.toUpperCase();
        var nameB = b.name.toUpperCase();
        if (nameA < nameB) {
          return -1;
        }
        if (nameA > nameB) {
          return 1;
        }
        return 0;
      }

     




    }

    window.customElements.define(RepeatEx.is, RepeatEx);
  </script>
</dom-module>
