<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-evento-notify">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Eventos Notify</h2>
    <fieldset>
      <legend>Formulario</legend>
      <form>
        <p>
          <label>Texto: </label>
          <input type="text" name="mi-input" id="mi-input" value="{{valorEscrito::input}}" placeholder="[[placeHolder]]" required="[[required]]">
          <button type="submit">Insertar</button>
        </p>
      </form>
    </fieldset>
    <hr>
    <span>Valor insertado: [[valorEscrito]]</span>
  </template>

  <script>
    class MiEventoNotify extends Polymer.Element {
      static get is() { return 'mi-evento-notify'; }
      static get properties() {
        return {
          valorEscrito: {
            type: String,
            notify: true
          },
          placeHolder: {
            type: String,
            value: "valor placeholder"
          },
          required: Boolean
        };
      }

      ready(){
        super.ready();
        this.addEventListener("valor-escrito-changed",(e)=>{
          console.log("Evento: ", e.detail);

        });
      }
    }

    window.customElements.define(MiEventoNotify.is, MiEventoNotify);
  </script>
</dom-module>
