<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<dom-module id="employee-list">
  <template>
    <div>Employee List</div>
    <hr>
    <!-- <dom-repeat items="{{employees}}"></dom-repeat> -->
    <template is="dom-repeat" items="{{employees}}" filter="isEngineer">
      <div>First Name: <span>{{item.first}}</span></div>
      <div>Last Name: <span>{{item.last}}</span></div>
      <div>Type: <span>{{item.type}}</span></div>
      <hr>
    </template>
  </template>

  <script>
    /**
     * `employee-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmployeeList extends Polymer.Element {
      static get is() { return 'employee-list'; }
      static get properties() {
        return {
          employees:{
            value(){
              return[
                {first: "Bob", last: "Smith", type:"Engineer"},
                {first: "Sally", last: "Johnson", type:"Doctor"},
                {first: "Jenette", last: "Mc-Curdy", type:"Engineer"},
                {first: "Bob", last: "Marley",type:"Doctor"},
                {first: "Freddie", last: "Mercury", type:"Engineer"},
              ];
            }
          }
        };
      }

      isEngineer(item){
        return item.type == "Engineer" || item.type == "Doctor"
      }
    }

    window.customElements.define(EmployeeList.is, EmployeeList);
  </script>
</dom-module>
